root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.cs]
# Organization settings
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true

# Naming conventions
dotnet_naming_rule.interface_should_be_begun_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begun_with_i.symbols = interface_symbols
dotnet_naming_rule.interface_should_be_begun_with_i.style = begun_with_i_style

dotnet_naming_symbols.interface_symbols.applicable_kinds = interface
dotnet_naming_style.begun_with_i_style.required_prefix = I

# Language rules
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Formatting rules
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
