<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Contest Judging</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="setup">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Setup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="judging">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Judging
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="results">
                <span class="bi bi-list-ol-nav-menu" aria-hidden="true"></span> Results
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="theory">
                <span class="bi bi-book-half-nav-menu" aria-hidden="true"></span> Theory
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
